.body_order_form{
    background-color: #fff;
    width: 60%;
    padding: 2rem;
    box-shadow: 0 2px 5px 0 #eee, 0 2px 5px 0 #eee;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.body_order_heading{
    font-weight: 300;
    font-size: 1.8rem;
    margin: 2rem 0 1rem 0;
}

.body_order_form h3{
    width: stretch;
}

.body_order_form input, textarea{
    width: stretch;
    padding: 0.6rem;
    margin: 0.2rem;
    margin: 0.2rem 0 0.8rem 0;
    border: 1px solid #c4c4c4;
}

.body_order_form select{
    width: stretch;
    padding: 0.6rem;
    margin: 0.2rem;
    margin: 0.2rem 0 0.8rem 0;
    border: 1px solid #c4c4c4;
}

.error_msg{
    font-size: 0.8rem;
    color: red;
}

.body_dashboard_signle_or_range_of_years{
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-top: 0.4rem;
}

.body_dashboard_signle_or_range_of_years input{
    width: 20px;
}

.body_dashboard_years_selected{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.body_dashboard_year_selected{
    width: 20%;
    background-color: #acf;
    padding: 0.2rem;
    margin: 0.1rem;
    cursor: pointer;
}

.body_dashboard_years_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.body_dashboard_years_container div{
    width: 100%;
}

.body_dashboard_years{
    flex: 4;
}

.body_dashboard_years_to{
    flex: 1;
    padding: 1rem;
}

.body_dashboard_add_year_btn{
    background-color: #569;
    flex: 1;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-align: center;
    border-radius: 5rem;
    cursor: pointer;
}

.body_order_btn{
    background-color: orange;
    width: stretch;
    color: #000;
    padding: 0.7rem;
    text-align: center;
    cursor: pointer;
}

.body_order_terms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-size: 0.8rem;
    padding: 1rem;
}

.body_order_terms a{
    text-decoration: none;
    color: #125;
}

@media (max-width: 480px){
    .body_order_form{
        background-color: #fff;
        width: 80%;
    }    

    .body_dashboard_add_year_btn{
        font-size: 14px;
    }
}